/* SearchBar.css */

.search-container {
  display: flex;
  align-items: center;
}

input::placeholder {
  color: #fff;
}

input:focus {
  outline: 0px;
}

.search-input {
  padding: 8px;
  border: 2px solid #fff;
  color: #fff;
  background-color: transparent;
  border-radius: 50px;
  margin-right: 8px;
}

.search-icon {
  color: #fff;
  cursor: pointer;
  margin-right: 8px;
}

@media screen and (max-width: 664px) {
  .search-container {
    margin-top: 5px;
  }

  .search-input {
    width: 70vw;
  }
}