/* OrderDetail.css */
.order-detail {
  margin: 2rem 1rem;
}

.order-detail-head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.order-detail-table-wrapper {
  overflow-x: auto;
}

.order-detail-table {
  width: 100%;
  border-collapse: collapse;
  overflow: hidden;
}

.order-detail-custom-th {
  min-width: 200px;
  padding: 15px;
  text-align: center;
  font-size: 0.9rem;
  font-weight: 600;
  background-color: #e7e5e5;
  color: #166084;
}

.order-detail-table td {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.2);
  text-align: center;
  font-size: 0.9rem;
  padding: 0px 10px;
}

.order-detail-uid {
  max-width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.order-detail-img {
  width: 50px;
  height: 50px;
  margin: 0.5rem auto;
}

.image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 5px;
}

.order-action-button {
  padding: 5px 10px;
  background-color: transparent;
  color: #fff;
  border: 2px solid #e7e5e5;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.order-action-button:hover {
  background-color: #e7e5e5;
  color: #166084;
}