@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  /* background-color: #fff; */
  background-color: #166084;
}

/* global css */
img {
  width: 100%;
  height: auto;
  -o-object-fit: contain;
  object-fit: contain;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}